body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin-top: 0px;
  font-family: "Sacramento", cursive;
  font-size: 3.75rem;
  margin-bottom: 0px;
}

#h2 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-top: 0px;
  font-weight: normal;
}
h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-top: 0px;
  padding: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  background-color: #66bfbfbf;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}

a:hover {
    color:#ffff;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 10px 0 0 0;
    margin-bottom: 0px;
}
.top-container {
  background-color: #66bfbfbf;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 50px auto;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 30px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

#profile-pic {
  max-width: 15%;
  height: auto;
  padding-top: 5px;
}

.code-img {
  border-radius: 100%;
  height: auto;
  max-width: 25%;
  float: left;
  margin-right: 30px;
}
.chilli-img {
  border-radius: 100%;
  height: auto;
  max-width: 20%;
  float: right;
  margin-left: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.contact-message {
  width: 40%;
  margin: 20px auto 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337fed 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}
